.numbers {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    font-size: 3rem;
    /* margin: 0; */
    /* padding: 0; */
}

.numbers li {
    margin: 10px;
}

body {
    /* background-color: hsla(97, 46%, 88%, 1); */
}

.frozen {
    background-color: rgba(224, 34, 34, 0.5);
    -webkit-transition: all 0.05s linear;
    -moz-transition: all 0.05s linear;
    -o-transition: all 0.05s linear;
    transition: all 0.05s linear;
}

.unfrozen {
    background-color: unset;
    -webkit-transition: all 0.05s linear;
    -moz-transition: all 0.05s linear;
    -o-transition: all 0.05s linear;
    transition: all 0.05s linear;
}

.comparison {
    font-size: 3rem;
}