.title-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  /* width: 100%; */
}

.logo {
  /* min-width: 50%; */
  height: 300px;
}

.logo p {
  padding: 0;
  border: 0;
  margin: 0;
}

nav {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ul {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: space-around;
  width: inherit;
}

li {
  width: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: space-around;
} */

button {
  width: inherit;
  background-color: blue;
  
  padding: 20%;
  margin: 20%;
}

/* button :hover {

} */