/* TITLE SCREEN (APP.JS) AND OVERARCHING STYLING*/

body {
  font-family: Gruppo, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-image: url(Gaming-0_generated.jpg);
  color: rgb(173, 201, 255);
  min-height: 100vh;
}

.width-80 {
  width: 80%;
}

.center {
  display: flex;
  justify-content: center;
}

.column {
  flex-flow: column nowrap;
}

.tutorial-ul {
  display: flex;
  flex-flow: row wrap;
}

.tutorial-ul li {
  margin: 20px;
  font-size: 3rem;
}

.title-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
}

header {
  display: none;
  color: rgb(38, 253, 246);
  text-shadow: 0px 0px 0px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 1.4rem;
  margin: 50px;
  margin-bottom: 20px;
}

header p {
  padding: 0;
  border: 0;
  margin: 0;
}

.logo {
  margin: 80px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  color: rgb(38, 253, 246);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  /* text-shadow: 1px 1px 2px black, 0 0 25px rgb(38, 253, 246), 0 0 5px rgb(11, 103, 179); */
}

.logo p {
  padding: 0;
  border: 0;
  margin: 0;
}

.title-h2 {
  margin-bottom: 50px;
}

nav {
  width: 75%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

button {
  padding: 15px;
  font-family: Gruppo, monospace;
  font-weight: bold;
  min-width: 200px;
  border-radius: 20px;
  background-image: linear-gradient(#ed1e25, #960c11);
  font-size: 2rem;
  margin: 2%;
  margin-top: 0;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border-radius: 20px;
}

.title-screen-button {
  width: 60%;
  min-width: 450px;
  font-size: 3rem;
  padding: 30px;
}

button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(#960c11, #ed1e25);
  z-index: -1;
  transition: all 200ms ease-in-out;
  opacity: 0;
  border-radius: 20px;
}

button:hover::before,
button:focus::before {
  opacity: 1;
  border-radius: 20px;
}

footer {
  margin-top: 50px;
  text-align: center;
  position: relative;
  bottom: 10px;
  width: 70%;
}

a {
  display: inline;
  color: inherit;
}

/* TUTORIAL SELECTION SCREEN (TUTORIAL.JS) */

.tutorial-selection-screen {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  position: relative;
  top: 0px;
  left: 20px;
  max-width: 90%;
  font-size: 4.5rem;
  align-self: flex-start;
}

h2 {
  max-width: 80%;
}

.tutorial-selection-h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.explore {
  margin-top: 0;
  padding-top: 0;
}

.fully-wide {
  /*This is literally just to get the width of this page to be as wide as I want*/
  padding: 0;
  border: 0;
  margin: 0;
  color: transparent;
  max-width: 80%;

}

.bold {
  font-weight: bolder;
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0%;;
}

.tutorial-selection-screen-button {
  font-size: 2rem;
  white-space: nowrap;
  margin-bottom: 20px;
}

.back-to-title-screen {
  margin-top: 50px;
  margin-bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.back-to-title-screen-button {
  background-image: linear-gradient(rgb(38, 253, 246), rgb(17, 100, 97));
  font-weight: 500;

}

.back-to-title-screen-button::before {
  background-image: linear-gradient(rgb(17, 100, 97), rgb(38, 253, 246));
}

/* SINGLE PLAYER (GAME.JS) */

.game-container {
  height: 100%;
}

.Game h1 {
  /* position: absolute;
  top: 0px;
  left: 0px; */
  margin-top: 0;
}

.Game {
  min-height: 500px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.number-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 700px;
  flex-shrink: 0.1;
}

.duplicates {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.generate {
  margin-bottom: 0;
}

.number-list p {
  margin-top: 0;
  margin-bottom: 50px;
}

.array {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  border: solid 3px white;
  border-radius: 50px;
  list-style-type: none;
}

.array li {
  font-size: 3rem;
  margin-left: 10px;
  margin-right: 10px;
}

.quantity {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 40px;
}

.start {
  margin-top: 50px;
}

/* SOLO BUBBLESORT */

.timer {
  font-size: 2rem;
  margin-top: 20px;
}

.active-game {
  border: none;
  border-style: none;
}

.comparison {
  font-size: 10rem;
  font-weight: bolder;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.comparison p {
  margin: 20px;
}

/* MULTIPLAYER.JS */

.player-sides {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.contain {
  width: 100%;
}

.Game-started {
  width: 100%;
}



/* MEDIA QUERIES */

@media screen and (max-width: 1150px) {
  .logo {
    display: none;
  }

  header {
    display: block;
  }

  .title-screen button {
    font-size: 2rem;
    min-width: 200px;
  }
}

@media screen and (max-width: 750px) {
  .title-screen button {
    font-size: 1.2rem;
  }

  header {
    font-size: 1rem;
  }

  .Game h1 {
    /* font-size: 2rem; */
    width: 70%;
    /* text-align: center; */
    align-self: center;
  }

  .Game h2 {
    font-size: 1rem;
    width: 70%;
  }

  .number-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    min-width: 700px;
    flex-shrink: 0.1;
  }
}