body {
  font-family: Gruppo, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-image: url(Gaming-0_generated.jpg);
  color: rgb(173, 201, 255);
  min-height: 100vh;
}

.title-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
}

header {
  display: none;
  color: rgb(38, 253, 246);
  text-shadow: 0px 0px 0px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 1.4rem;
  margin: 50px;
}

header p {
  padding: 0;
  border: 0;
  margin: 0;
}

.logo {
  margin: 80px;
  font-size: 1.3rem;
  color: rgb(38, 253, 246);
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  /* text-shadow: 1px 1px 2px black, 0 0 25px rgb(38, 253, 246), 0 0 5px rgb(11, 103, 179); */
}

.logo p {
  padding: 0;
  border: 0;
  margin: 0;
}

nav {
  width: 75%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

button {
  font-family: Gruppo, monospace;
  font-weight: bold;
  min-width: 200px;
  border-radius: 20px;
  background-image: linear-gradient(#ed1e25, #960c11);
  font-size: 2rem;
  padding: 3%;
  margin: 2%;
  margin-top: 0;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border-radius: 20px;
}

.title-screen-button {
  width: 60%;
  min-width: 450px;
  font-size: 3rem;
}

button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-image: linear-gradient(#960c11, #e84b50); */
  background-image: linear-gradient(#960c11, #ed1e25);
  z-index: -1;
  transition: all 200ms ease-in-out;
  opacity: 0;
  border-radius: 20px;
}

button:hover::before,
button:focus::before {
  opacity: 1;
  border-radius: 20px;
}

footer {
  margin-top: 50px;
  text-align: center;
  position: relative;
  bottom: 10px;
  width: 70%;
}

a {
  display: inline;
  color: inherit;
}

/*TUTORIAL SELECTION SCREEN*/

.tutorial-selection-screen {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bolder;
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.tutorial-selection-screen-button {
  font-size: 2rem;
  min-width: 400px;

}

.back-to-title-screen {
  margin-top: 50px;
  margin-bottom: 0px;
  /* width: 100%; */
}

.back-to-title-screen-button {
  /* background-image: linear-gradient(#5a4243, #281718); */
  background-color: gray !important;
  /* color: white; */
  text-decoration: none;
}








/* MEDIA QUERIES */

@media screen and (max-width: 1150px) {
  .logo {
    display: none;
  }

  header {
    display: block;
  }

  .title-screen button {
    font-size: 2rem;
    min-width: 200px;
  }
}

@media screen and (max-width: 750px) {
  .title-screen button {
    font-size: 1.2rem;
  }

  header {
    font-size: 1rem;
  }
}